{% extends 'base.html' %}

{% block title %} Update Feedback {% endblock %}

{% block content %}
<h1 class='display-1'>Update Feedback</h1>

<form method='POST' class='bg-light p-4'>
    {{form.hidden_tag() }}

    {% for field in form
        if field.widget.input_type != 'hidden' %}

    <div class="form-group">
        {{field.label}}
        {{field(class_="form-control")}}
        {% for error in field.errors %}
        {{error}}
        {% endfor %}
    </div>
    {% endfor %}


    <button type="submit" class="btn btn-primary">UPDATE</button>
</form>

{% endblock %}